@font-face {
  font-family: 'CatharsisEspresso';
  src: url('./assets/CAE_____.TTF') format('TTF');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/Raleway-VariableFont_wght.ttf') format('TTF');
  font-weight: 700;
  font-style: normal;
}

body, :root, html {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  background-color: mistyrose;
}

body {
  background-image: url('./assets/meatAndVeggie.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  box-sizing: border-box;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: end;
  padding-bottom: 35px;
}

nav>div {
  text-align: center;
  height: 20px;
  color: #ce9c9c;
  font-size: 24px;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

header {
  height: 200px;
  width: 100%;
  background-color: rgb(38, 33, 33, 0.9);
  border-bottom: 1px solid rgb(255, 228, 225);;
}

#logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  gap: 10px;
}

#logo-text {
  font-family: 'CatharsisEspresso', Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 900;
  color: white;
}

.logo-icon {
  height: 50px;
  width: auto;
}

.active {
  padding-bottom: 6px;
  border-bottom: 1px solid mistyrose;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 60px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  border: 0.7px solid rgb(255, 228, 225);
  color: whitesmoke;
  padding: 20px;
}

#content>h3, #content>h2 {
  color: rgba(255, 228, 225, 0.781);
  font-weight: bold;
}

.menu-item-container {
  justify-self: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 120px;
  margin: 10px;
}

.menu-text-section {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.dish-image {
  height: 200px;
  width: 220px;
  margin-right: 25px;
  border: 1px solid whitesmoke;
  border-radius: 12px;
}

.contact-info {
  justify-self: center;
  align-self: center;
}
.contact-info>div {
  padding-top: 5px;
  padding-bottom: 5px;
}